h1 {
  text-align: center;
}
.calculator {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-image: linear-gradient(to right, darkgray, lightgray);
  grid-gap: 10px;
  width: 60%;
  padding: 25px;
  grid-template-rows: auto auto auto auto;
  font-size: 48px;
  height: 600px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.bar {
  grid-column: 1 / span 4;
  background-image: linear-gradient(white, silver, white);
  text-align: right;
  font-size: 56px;
  box-shadow: 5px 5px 10px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.number {
  border: black solid 1px;
  text-align: center;
  background: silver;
}

.operator {
  border: white solid 1px;
  text-align: center;
  background: black;
  color: white;
}

.clear {
  border: black solid 1px;
  text-align: center;
  background: red;
  color: white;
}
button {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

button:active {
  background: white;
  color: blue;
}
